{% if site.data.settings.series__settings.enable == true %}

<!-- begin blog -->
<section class="section blog animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__inner">

        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ site.data.settings.series__settings.title }}</h2>
            <a class="section__link" href="{{ '/series' | relative_url }}">See all series<i class="ion ion-md-arrow-forward"></i></a>
          </div>
          {% if site.data.settings.series__settings.description %}
            <p class="section__description">{{ site.data.settings.series__settings.description }}</p>
          {% endif %}
        </div>


         
        </div>
      </div>
    </div>
    <div class="row">
      {% if site.authors.size > 0 %}
        {% for series in site.authors offset:0 limit:7 %}
          <div class="article col {% if forloop.index == 1 and page.url == '/' %}col-12 article--first{% else %}col-6 col-w-10 col-d-12{% endif %}">
            <div class="article__inner">

              <div class="article__head">                
                <img class="lazy author__big__image" data-src="{{ series.image }}" alt="{{ site.data.settings.author.author__name }}">                    
              </div>

              <div class="article__content">
                <h2 class="article__title">
                  <a href="{{ series.url | prepend: site.baseurl }}">{{ series.title }}</a>
                </h2>

                <p class="article__excerpt">{% if series.description %}{{ series.description }}{% endif %}</p>

              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
<!-- end blog -->
{% endif %}